<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://qdhw6.leaderhero.com/new2/20200911/Minecraft_v1.16.40_os9.0__200911233220_pandahelp.vip.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://is5-ssl.mzstatic.com/image/thumb/Purple113/v4/29/e3/13/29e3136e-dcf3-62d1-b6ff-ef2a3bb8878c/source/100x100bb.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://is5-ssl.mzstatic.com/image/thumb/Purple113/v4/29/e3/13/29e3136e-dcf3-62d1-b6ff-ef2a3bb8878c/source/100x100bb.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>ml.rashid.Kinemaster</string>
				<key>bundle-version</key>
				<string>1.14.60</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>
⚡MineCraft⚡

🔥App Games🔥
 
JAVA Store📦

Telegram:IJAVA ❤️
     			</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
