<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://ucd030686b6a9c839224ac85d679.dl.dropboxusercontent.com/cd/0/get/A_lWDWDBn9JtWpxPkh8hiEk3yWzvTa6EtXU13nMFo6qcViePSIHLTj22RjsGwZ5-GOpLCf7Bc0PI2yraUq0fsrNWgUDsRicyfL-vVuenbT7roixPjboWGUKCz4n51quqWLw/file#</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://is5-ssl.mzstatic.com/image/thumb/Purple114/v4/c6/df/df/c6dfdf16-b7aa-c18c-be72-af4e3bf211eb/source/100x100bb.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://is5-ssl.mzstatic.com/image/thumb/Purple114/v4/c6/df/df/c6dfdf16-b7aa-c18c-be72-af4e3bf211eb/source/100x100bb.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>ml.rashid.Pubggl</string>
				<key>bundle-version</key>
				<string>vBeta7</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>
⚡PUBGM Full Hack (GLOBAL)⚡

🔥App Games🔥
 
JAVA Store📦
					
Telegram:IJAVA ❤️
     			</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
