<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/p59ji2cvme4a0yg/PUBGKR_1.0.0_FAHAD.ipa?dl=1</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://i0.wp.com/dl.img-news.com/dl/img/s5/dl/2020/03/PUBG-Mobile-KR-1.png?ssl=1</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://i0.wp.com/dl.img-news.com/dl/img/s5/dl/2020/03/PUBG-Mobile-KR-1.png?ssl=1</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>ml.rashid.Pubgkr</string>
				<key>bundle-version</key>
				<string>vBeta7</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>
⚡PUBGM (KR)⚡

🔥App Games🔥
 
JAVA Store📦
					
Telegram:IJAVA ❤️
     			</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
