<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://qdhw6.leaderhero.com/new2/20200911/TikTok_v16.6.2_os12.0__200911225106_pandahelp.vip.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://im5.tongbu.com/userapp/AppIcon/201908/20/111214932.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://im5.tongbu.com/userapp/AppIcon/201908/20/111214932.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>ml.rashid.Tikyol</string>
				<key>bundle-version</key>
				<string>vBeta7</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>
⚡TikTok Unicorn⚡

🔥App Store🔥
 
JAVA Store📦

Telegram:IJAVA ❤️
     			</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
